<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanouakira.mapper.CommentMapper">
    <resultMap id="commentMap" type="cn.kanouakira.entity.Comment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
        <result column="status" property="status"/>
        <result column="body" property="body"/>
        <result column="parent_comment_id" property="parentCommentId"/>
        <result column="reply_comment_id" property="replyCommentId"/>
        <result column="comment_level" property="commentLevel"/>
        <result column="created" property="created"/>
        <association property="user" column="user_id" javaType="cn.kanouakira.entity.User" select="cn.kanouakira.mapper.UserMapper.selectUserById"/>
        <association property="replyComment" javaType="cn.kanouakira.entity.Comment" column="reply_comment_id" select="selectCommentById"/>
        <collection property="childComments" column="id" ofType="singleComment" select="getChildComments"/>
    </resultMap>

    <resultMap id="singleComment" type="cn.kanouakira.entity.Comment">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="post_id" property="postId"/>
        <result column="status" property="status"/>
        <result column="body" property="body"/>
        <result column="parent_comment_id" property="parentCommentId"/>
        <result column="reply_comment_id" property="replyCommentId"/>
        <result column="comment_level" property="commentLevel"/>
        <result column="created" property="created"/>
        <association property="user" column="user_id" javaType="cn.kanouakira.entity.User" select="cn.kanouakira.mapper.UserMapper.selectUserById"/>
    </resultMap>

    <select id="selectCommentPage" resultMap="commentMap">
        SELECT * FROM comment order by created desc
    </select>

    <!--    嵌套查询评论下的回复评论-->
    <!--    根据id返回评论-->
    <select id="selectCommentById" resultMap="commentMap" parameterType="java.lang.Long">
        SELECT * FROM comment where id = #{id} order by created desc
    </select>

    <!--    根据id更新评论-->
    <update id="updateComment" parameterType="cn.kanouakira.entity.Comment">
        update comment
        <set>
            <if test="postId != null">post_id = #{postId},</if>
            <if test="body != null">body = #{body},</if>
            <if test="status != null">status = #{status},</if>
            <if test="created != null">created = #{created},</if>
            <if test="userId != null">user_id = #{userId},</if>
        </set>
        where
        id = #{id}
    </update>

    <!--    嵌套查询文章下的所有评论-->
    <select id="getComments" resultMap="commentMap" parameterType="java.lang.Long">
        select * from comment where post_id = #{id}
    </select>

    <!--    嵌套查询评论下的子评论-->
    <select id="getChildComments" resultMap="singleComment" parameterType="java.lang.Long">
        SELECT * FROM comment where parent_comment_id = #{id} order by created desc
    </select>

</mapper>
