<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.kanouakira.mapper.UserMapper">

    <resultMap id="userMap" type="cn.kanouakira.entity.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="username" property="username"/>
        <result column="created" property="created"/>
        <result column="avatar" property="avatar"/>
        <result column="last_login" property="lastLogin"/>
        <result column="status" property="status"/>
        <result column="role_name" property="roleName"/>
    </resultMap>

<!--    返回用户分页-->
    <select id="selectUserPage" resultMap="userMap">
        SELECT user.*,role.rolename as role_name FROM user left join role on user.status = role.id order by created asc
    </select>

    <!--    根据id返回用户-->
    <select id="selectUserById" resultMap="userMap" parameterType="long">
        select user.*,role.rolename as role_name from user left join role on user.status = role.id where user.id = #{id}
    </select>

    <!--    查询username是否存在-->
    <select id="isUserNameExist" resultType="boolean" parameterType="java.lang.String">
        select count(username) from user where username = #{username}
    </select>

    <!--    新增用户-->
    <insert id="saveUser" parameterType="cn.kanouakira.entity.User">
        insert into user(username, email, password) values(#{username},#{email},#{password})
    </insert>

    <!--    更新用户-->
    <update id="updateUser" parameterType="cn.kanouakira.entity.User">
        UPDATE  `user`
        <set >
            <if test="username != null" >
                `username` = #{username},
            </if>
            <if test="name != null" >
                `name` = #{name},
            </if>
            <if test="password != null" >
                `password` = #{password},
            </if>
            <if test="avatar != null" >
                `avatar` = #{avatar},
            </if>
            <if test="status != null" >
                `status` = #{status},
            </if>
            <if test="email != null" >
                `email` = #{email},
            </if>
        </set>
        WHERE id = #{id}
    </update>

<!--    根据id删除用户-->
    <delete id="deleteUserById" parameterType="long">
        delete from user where id = #{id}
    </delete>
</mapper>
